/* parent controls layout */
.container {
    display: flex;
    height: 100vh;   /* full screen height */
}

/* left side */
.left_panel {
    width: 50%;
    height: 65%;
    background-color: rgb(211, 132, 150);
    margin:40px;
    border-radius: 30px;
    
}

/* make youtube video fill left panel */
.left_panel iframe {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}


/* right side */
.right_panel {
    width: 50%;
    background-color: lightgray;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

    
}


.chat_container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin: 30px;
    background-color: rgb(182, 171, 171);
    border-radius: 20px;

}

.chat_container::-webkit-scrollbar {
    display: none;
}

.chat_form {
    display: flex;
    gap: 10px;              /* space between input & button */
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: lightgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.chat_form input {
    flex: 1;                    /* take all remaining space */
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.chat_form button {
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #4a90e2;
    color: white;
}


.chat_form button:hover {
    background-color: #357abd;
}
